body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: purple;
}

#buttons {
    display: flex;
    gap: 15px;
}

.btn, .stop {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #7b4bb7;
    color: white;
}